<div class="botonesDonaciones">
    <button mat-raised-button class="demo-button" routerLink="/principal/donacionesDineroCrear">Registrar donacion</button>
    <!--<button mat-raised-button class="demo-button">Listar</button>-->
    <button mat-raised-button class="demo-button" routerLink="/principal/login/donante/perfil">Volver al panel de Usuario</button>
</div>

<table mat-table [dataSource]="dataSource" class="tablaDonaciones">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Food Name Column -->
    <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef>Monto Total</th>
        <td mat-cell *matCellDef="let element">{{element.total_amount}}</td>
    </ng-container>

    <!-- Emition Date Column -->
    <ng-container matColumnDef="payment_date">
        <th mat-header-cell *matHeaderCellDef>Fecha de pago</th>
        <td mat-cell *matCellDef="let element">{{element.payment_date}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef>Metodo de pago</th>
        <td mat-cell *matCellDef="let element">{{element.paymentMethod.type}}</td>
    </ng-container>

    <!-- Update Button -->
    <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" [routerLink]="['/principal/donacionesDineroEditar',element.id]"><span
                    class="material-icons">update</span></button>
        </td>
    </ng-container>

    <!-- Delete Button -->
    <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="openDialog(element.id)"><span
                    class="material-icons">delete_sweep</span></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>