<div class="perfil">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mis Donaciones
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><button mat-raised-button routerLink="/principal/donacionesComida" id="verDonacionesAlimentos">Donaciones de alimentos</button></p>
        <p><button mat-raised-button routerLink="/principal/donacionesDinero" id="verDonacionesDinero">Donaciones de dinero</button></p>
    </mat-expansion-panel>

    <button mat-raised-button routerLink="/principal/perfilDatos" id="verPerfil">Ver perfil</button>
    <button mat-raised-button routerLink="/principal/hola-inicia-sesion" id="cerrarSesion">Cerrar Sesión</button>
</div>