
<app-navbar-donante></app-navbar-donante>
<div class="contenedorfull">
<div class="perfil">
    <div class="contenedor">
        <p>Menu</p>
        <p><button mat-raised-button routerLink="/donante/perfil/donacionesComidaCrear/donacionesComidaListar" id="verDonacionesAlimentos">Donaciones de alimentos</button></p>
        <p><button mat-raised-button routerLink="/donante/perfil/donacionesDineroCrear/donacionesDineroListar" id="verDonacionesDinero">Donaciones de dinero</button></p>
    <!-- <button mat-raised-button routerLink="/admin/perfil/perfilListar" id="verDatosAdmin">Perfil de Admin</button> -->
    </div>
</div>
</div>