<div class="perfil">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mis Donaciones
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><button mat-raised-button routerLink="/principal/donacionesComidaListar" id="verDonacionesAlimentos">Donaciones de alimentos</button></p>
        <p><button mat-raised-button routerLink="/principal/donacionesDineroListar" id="verDonacionesDinero">Donaciones de dinero</button></p>
    </mat-expansion-panel>

    <button mat-raised-button routerLink="/principal/login/donante/perfil/perfilListar" id="verDatosUsuario">Ver datos de usuario</button>
    <button mat-raised-button routerLink="/principal/login" id="cerrarSesion">Cerrar Sesión</button>
</div>