<app-navbar-admin></app-navbar-admin>
<div class="contenedorfull">
<div class="perfil">
    <div class="contenedor">
        <p>Menu</p>
        <p><button mat-raised-button routerLink="/admin/perfil/TypeOfFood/findAll/nuevo" id="verAlimento">Tipo de Alimento</button></p>
        <p><button mat-raised-button routerLink="/admin/perfil/registrar-donador" id="verRegistroDonadores">Registrar Donadores</button></p>
        <p><button mat-raised-button routerLink="/admin/perfil/lista-donadores" id="verListaDonadores">Listar Donadores</button></p>
    <!-- <button mat-raised-button routerLink="/admin/perfil/perfilListar" id="verDatosAdmin">Perfil de Admin</button> -->
    </div>
</div>
</div>
