<div class="perfil">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Menu
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><button mat-raised-button routerLink="/admin/perfil/TypeOfFood/findAll/nuevo" id="verAlimento">Tipo de Alimento</button></p>
        <p><button mat-raised-button routerLink="/admin/perfil/registrar-donador" id="verRegistroDonadores">Registrar Donadores</button></p>
        <p><button mat-raised-button routerLink="/admin/perfil/lista-donadores" id="verListaDonadores">Listar Donadores</button></p>
    </mat-expansion-panel>

    <button mat-raised-button routerLink="/admin/perfil/perfilListar" id="verDatosAdmin">Perfil de Admin</button>

</div>
