<div class="flex flex-col mx-auto px-6 pb:p-0 relative w-full pb:w-[28rem] md:w-[25rem] lg:w-[25.5rem]">
    <div class="sc-aa628e60-2 jwYpkg">
        <div class="sc-18f1f69-0 iIaYHg">
            <div class="sc-18f1f69-2 bdGreR">
                <h4 class="sc-3371e8db-0 dyZZaL sc-12821869-0 hVueOK"><b>Con Premium</b> tienes más</h4>
                <div class="sc-18f1f69-3 bSiHKt"></div>
            </div>
            <div class="sc-18f1f69-5 cvEUon">
                <div class="sc-ca7a7431-0 cEALFu sc-18f1f69-4 bQNCzE">
                    <ul class="sc-ca7a7431-2 eDMXXf">
                        <li class="sc-ca7a7431-3 dRxQqY"><svg class="sc-7a2b50b3-0 nyOvU sc-ca7a7431-4 eVBjNi"
                                width="1.5rem" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path fill="#FF5900"
                                    d="M229.497 26 256 54.722 93.526 230.8 0 129.443l26.503-28.723 67.026 72.63z">
                                </path>
                            </svg><span>Series y películas premium</span></li>
                        <li class="sc-ca7a7431-3 dRxQqY"><svg class="sc-7a2b50b3-0 nyOvU sc-ca7a7431-4 eVBjNi"
                                width="1.5rem" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path fill="#FF5900"
                                    d="M229.497 26 256 54.722 93.526 230.8 0 129.443l26.503-28.723 67.026 72.63z">
                                </path>
                            </svg><span>Cancela cuando quieras</span></li>
                        <li class="sc-ca7a7431-3 dRxQqY"><svg class="sc-7a2b50b3-0 nyOvU sc-ca7a7431-4 eVBjNi"
                                width="1.5rem" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path fill="#FF5900"
                                    d="M229.497 26 256 54.722 93.526 230.8 0 129.443l26.503-28.723 67.026 72.63z">
                                </path>
                            </svg><span>Muchas más novelas</span></li>
                    </ul>
                </div>
            </div>
            <div [routerLink]="'/login/user'"class="sc-18f1f69-7 eFHLgV"><button target="_self"
                    class="sc-df1abb3d-0 cTkSVN flex items-center border-none border-box cursor-pointer no-underline select-none sc-18f1f69-6 kJSJiM"><span>Crea
                        tu cuenta Premium</span></button></div>
        </div>
        <div class="sc-aa628e60-8 cGiVhp"><button target="_self"
                class="sc-df1abb3d-0 jQaeAA flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-7 fVCwOI"><span>O
                    crea una cuenta gratis</span></button></div>
    </div>
    <div class="sc-aa628e60-0 ikJIeq">
        <div class="sc-aa628e60-1 dLTbzk">
            <div class="sc-aa628e60-4 kUFZzT"><a target="_self"
                    class="sc-df1abb3d-0 jFtEQY flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-6 jbQgLy"
                    href="/es-es/legal/politica-de-privacidad">
                    <div class="sc-20885047-0 hynnPd"><svg class="sc-7a2b50b3-0 nyOvU" width="1.25rem"
                            viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor"
                                d="M78.72,224.106667 C83.9466667,229.333333 92.3733333,229.333333 97.6,224.106667 L186.24,135.466667 C190.4,131.306667 190.4,124.586667 186.24,120.426667 L97.6,31.7866667 C92.3733333,26.56 83.9466667,26.56 78.72,31.7866667 C73.4933333,37.0133333 73.4933333,45.44 78.72,50.6666667 L155.946667,128 L78.6133333,205.333333 C73.4933333,210.453333 73.4933333,218.986667 78.72,224.106667 Z">
                            </path>
                        </svg><span class="sc-20885047-1">Política de privacidad</span></div>
                </a><a target="_self"
                    class="sc-df1abb3d-0 jFtEQY flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-6 jbQgLy"
                    href="/es-es/legal/terminos-de-uso">
                    <div class="sc-20885047-0 hynnPd"><svg class="sc-7a2b50b3-0 nyOvU" width="1.25rem"
                            viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor"
                                d="M78.72,224.106667 C83.9466667,229.333333 92.3733333,229.333333 97.6,224.106667 L186.24,135.466667 C190.4,131.306667 190.4,124.586667 186.24,120.426667 L97.6,31.7866667 C92.3733333,26.56 83.9466667,26.56 78.72,31.7866667 C73.4933333,37.0133333 73.4933333,45.44 78.72,50.6666667 L155.946667,128 L78.6133333,205.333333 C73.4933333,210.453333 73.4933333,218.986667 78.72,224.106667 Z">
                            </path>
                        </svg><span class="sc-20885047-1">Términos de uso</span></div>
                </a><a target="_self"
                    class="sc-df1abb3d-0 jFtEQY flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-6 jbQgLy ot-sdk-show-settings"
                    href="/es-es/registro#">Configuración de Cookies</a><a target="_blank"
                    class="sc-df1abb3d-0 jFtEQY flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-6 jbQgLy"
                    href="https://ayuda.vix.com">
                    <div class="sc-20885047-0 hynnPd"><svg class="sc-7a2b50b3-0 nyOvU" width="1.25rem"
                            viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor"
                                d="M78.72,224.106667 C83.9466667,229.333333 92.3733333,229.333333 97.6,224.106667 L186.24,135.466667 C190.4,131.306667 190.4,124.586667 186.24,120.426667 L97.6,31.7866667 C92.3733333,26.56 83.9466667,26.56 78.72,31.7866667 C73.4933333,37.0133333 73.4933333,45.44 78.72,50.6666667 L155.946667,128 L78.6133333,205.333333 C73.4933333,210.453333 73.4933333,218.986667 78.72,224.106667 Z">
                            </path>
                        </svg><span class="sc-20885047-1">Centro de ayuda</span></div>
                </a><a target="_blank"
                    class="sc-df1abb3d-0 jFtEQY flex items-center border-none border-box cursor-pointer no-underline select-none sc-aa628e60-6 jbQgLy"
                    href="https://assets.vix.com/especificaciones-de-Anuncios.html">
                    <div class="sc-20885047-0 hynnPd"><svg class="sc-7a2b50b3-0 nyOvU" width="1.25rem"
                            viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill="currentColor"
                                d="M78.72,224.106667 C83.9466667,229.333333 92.3733333,229.333333 97.6,224.106667 L186.24,135.466667 C190.4,131.306667 190.4,124.586667 186.24,120.426667 L97.6,31.7866667 C92.3733333,26.56 83.9466667,26.56 78.72,31.7866667 C73.4933333,37.0133333 73.4933333,45.44 78.72,50.6666667 L155.946667,128 L78.6133333,205.333333 C73.4933333,210.453333 73.4933333,218.986667 78.72,224.106667 Z">
                            </path>
                        </svg><span class="sc-20885047-1">Especificaciones de anuncios</span></div>
                </a></div>
        </div>
    </div>
</div>