<header class="sc-2689f759-0 hiLuPb">
    <button type="button" class="sc-c55f794a-0 clGGdv" aria-label="Regresar" tabindex="1" [routerLink]="'/'">
        <svg class="sc-7a2b50b3-0 nyOvU" width="2rem" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#FFF"
                d="M177 32c-5-5-13-5-19 0l-88 89c-4 4-4 10 0 15l88 88a13 13 0 1019-19l-77-77 77-77c6-5 6-14 0-19z">
            </path>
        </svg>
    </button>
</header>