<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <!-- Logo -->
    <img src="./assets/Images/Logo/HungerFood.png" class="logo-img" [routerLink]="'/'" alt="HungerFood Logo">
    
    <!-- Toggle Btn (Hamburguesa) -->
    <button class="navbar-toggler shadow-none border-0" type="button" (click)="toggleNavbar()" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Sidebar -->
    <div #offcanvasNavbar class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <!-- Sidebar Header -->
      <div class="offcanvas-header text-dark border-bottom">
        <img src="./assets/Images/Logo/HungerFood.png" class="logo-img" [routerLink]="'/'" alt="HungerFood Logo">
        <button type="button" class="btn-close btn-close-dark" (click)="closeNavbar()" aria-label="Close"></button>
      </div>
      <!-- Sidebar Body -->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-3 p-lg-0">
        <ul class="navbar-nav justify-content-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active" [routerLink]="'/principal/sobre-nosotros'" (click)="closeNavbar()">
              Sobre Nosotros
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" [routerLink]="'/principal/donar'" (click)="closeNavbar()">Donar</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" [routerLink]="'/principal/contactenos'" (click)="closeNavbar()">Contáctenos</a>
          </li>
        </ul>
        <!-- Login / Sign up -->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4">
          <a [routerLink]="'/login1'" class="text-dark">
            HOLA, Inicia Sesión
          </a>
        </div>

        <!-- logout -->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4">
          <a (click)="logout()" class="text-dark">
            Cerrar Sesión
          </a>
        </div>

        <!-- Icon Account -->
        <i class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4 bi bi-person-circle" [routerLink]="'/login/principal'"></i>

      </div>
    </div>
  </div>
</nav>