<app-navbar-principal></app-navbar-principal>

<div class="container">
    <h1>Política de Privacidad de HungerFood</h1>
    
    <p>
      En "HungerFood" nos comprometemos a garantizar la seguridad y el bienestar 
      de todas las personas involucradas en nuestra misión de redistribuir alimentos a quienes
      más lo necesitan. Estas políticas de seguridad están diseñadas para proteger a nuestros 
      empleados, voluntarios, donantes, y beneficiarios, así como para asegurar la calidad y 
      seguridad de los alimentos donados.
    </p>
    <br>
    <p>1. Seguridad Alimentaria</p>
    <p>1.1. Recepción y Almacenamiento de Alimentos</p>

    <div>
      <li>Todos los alimentos recibidos de supermercados y donantes individuales deben ser inspeccionados al momento de la recepción para garantizar que se encuentren en buen estado.</li>
      <li>Los alimentos con fecha próxima de vencimiento deben ser etiquetados claramente con la fecha de recepción y la fecha de vencimiento.</li>
      <li>Los alimentos perecederos deben ser almacenados inmediatamente en refrigeradores o congeladores adecuados para mantener su frescura.</li>
      <li>Los alimentos no perecederos deben ser almacenados en un lugar seco y limpio, lejos de fuentes de calor y humedad.</li>
    </div>
    <br>
    <p>1.2. Manipulación de Alimentos</p>
    <div>
      <li>Todo el personal y voluntarios que manipulan alimentos deben recibir capacitación en prácticas seguras de manipulación de alimentos.</li>
      <li>Es obligatorio el uso de guantes y gorros de protección durante la manipulación de alimentos.</li>
      <li>Las superficies de trabajo y los utensilios deben ser limpiados y desinfectados regularmente para prevenir la contaminación cruzada.</li>
    </div>
    <br>
    <p>1.3. Distribución de Alimentos</p>
    <div>
      <li>Antes de la distribución, todos los alimentos deben ser revisados nuevamente para asegurar que aún se encuentran en buen estado.</li>
      <li>Los alimentos perecederos deben ser transportados en vehículos refrigerados para mantener la cadena de frío.</li>
      <li>Se debe informar a los beneficiarios sobre la fecha de vencimiento de los alimentos y proporcionar recomendaciones de almacenamiento y consumo seguro.</li>

    </div>
  
    <!-- Más contenido según sea necesario -->
  
  </div>
  
  <app-footer-principal></app-footer-principal>