body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Color de fondo para el resto del cuerpo */
}
h1{
  background-color: #d9d9d9;
  color: black;
  text-align: center;
}
.container {
  background-color: #666;
  color: #fff; /* Color de texto para que sea visible sobre el fondo oscuro */
  padding: 30px;
  border-radius: 8px; /* Opcional, para redondear las esquinas */
  max-width: 800px; /* Ajusta según tus necesidades */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional, para añadir una sombra */
}
