<div class="container">
  <div class="header">
    <h1>TESTIMONIOS</h1>
    <h2>Lee Lo Que Otros Tienen Que Decir</h2>
  </div>
  <div class="testimonies">
    <div class="testimony">
      <div class="image">
        <img src="./assets/Images/Main/img_testimonios/img_PauStanley.png" alt="Paul Stanley">
      </div>
      <div class="content">
        <h3>PAUL STANLEY</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ISTE corporis fugit saepe necessitatibus sit dolores ea delectus, iure nesciunt nam?</p>
      </div>
    </div>
    <div class="testimony">
      <div class="image">
        <img src="./assets/Images/Main/img_testimonios/img_SteveJobs.png" alt="Steve Jobs">
      </div>
      <div class="content">
        <h3>PAUL STANLEY</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ISTE corporis fugit saepe necessitatibus sit dolores ea delectus, iure nesciunt nam?</p>
      </div>
    </div>
    <div class="testimony">
      <div class="image">
        <img src="./assets/Images/Main/img_testimonios/img_ElonMusk.png" alt="Elon Musk">
      </div>
      <div class="content">
        <h3>PAUL STANLEY</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ISTE corporis fugit saepe necessitatibus sit dolores ea delectus, iure nesciunt nam?</p>
      </div>
    </div>
  </div>
</div>