.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .testimonies {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
  }
  
  .testimony {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 1rem;
    transform: scale(1); /* Estado inicial */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .testimony:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  }
  
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .content {
    text-align: center;

  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: default; /* Mantener el cursor predeterminado sobre los párrafos */
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    cursor: default; /* Mantener el cursor predeterminado sobre los párrafos */
  }
  h1, h2{
    cursor: default; /* Mantener el cursor predeterminado sobre los párrafos */

  }

  @media (max-width: 768px) {
  .testimonies {
    flex-direction: column; /* Apila testimonios en dispositivos más pequeños */
    align-items: center;
  }
  
  .testimony {
    margin: 0 0 1rem 0; /* Reduce el margen inferior para separar los testimonios */
  }
}

@media (max-width: 480px) {
  .testimony {
    padding: 1.5rem; /* Reduce el padding en dispositivos muy pequeños */
  }
  
  h3 {
    font-size: 1.2rem; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  
  p {
    font-size: 0.9rem; /* Reduce el tamaño del texto en pantallas pequeñas */
  }
}
