<div class="inicioSesion">
    <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput required placeholder="" formControlName="usuario">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput required placeholder="" formControlName="contrasenia">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="iniciarSesion()" type="submit">Iniciar Sesión</button>
    <p>Eres nuevo en Hungerfood?</p>
    <button mat-raised-button routerLink="/principal/registrarse" id="registrate">Registrate</button>
</div>