<!-- Navbar Principal -->
<app-navbar-principal></app-navbar-principal>

<!-- Contactenos -->
<div class="container" bis_skin_checked="1">
    <div class="row border rounded" bis_skin_checked="1">
        <div class="col-md-12 card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <p class="h3 text-center">Formulario de contacto</p>
            </div>
            <div class="card-body" bis_skin_checked="1">
                <form>
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-6" bis_skin_checked="1">
                            <label>Nombre completo</label>
                            <input type="text" required="required" class="form-control"></div>
                            <div class="col-md-6" bis_skin_checked="1">
                                <label>Celular</label>
                                <input type="text" required="required" class="form-control"></div>
                                <div class="col-md-6" bis_skin_checked="1">
                                    <label>Email</label>
                                    <input type="email" required="required" class="form-control"></div>
                                    <div class="col-md-12" bis_skin_checked="1">
                                        <label>Mensaje</label>
                                        <textarea cols="30" rows="10" required="required" class="form-control" style="max-height: 200px;"></textarea>
                                    </div>
                                    <div class="col-md-4" bis_skin_checked="1">
                                        <button type="submit" class="btn btn-lg btn-success text-light pl-5 pr-5">Enviar</button>
                                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
 <app-footer-principal></app-footer-principal>