<div class="container">
    <h1>Política de Cookies de HungerFood</h1>

    <p>
        En HungerFood, utilizamos cookies para mejorar la experiencia de usuario y para fines analíticos.
        Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con esta política.
    </p>

    <h2>¿Qué son las cookies?</h2>
    <p>
        Las cookies son pequeños archivos de texto que los sitios web colocan en tu dispositivo para almacenar
        información sobre tu navegación y preferencias. Estos archivos permiten que el sitio recuerde tus acciones
        y preferencias durante un período de tiempo.
    </p>

    <!-- Más contenido según sea necesario -->

</div>