<div class="registrarse">
    <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
            <mat-label>Id</mat-label>
            <input matInput hidden placeholder="Id" formControlName="id">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre(s)</mat-label>
            <input matInput required placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput required placeholder="Second Name" formControlName="secondName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput required placeholder="Password" formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput required placeholder="Email" formControlName="email">
        </mat-form-field>
        <br>
        <!-- <mat-form-field class="example-full-width"> -->
        <!-- <mat-label>Confirmar contraseña</mat-label> -->
        <!-- <input matInput required placeholder="" formControlName="confirmarContrasenia"> -->
        <!-- </mat-form-field> -->
        <!-- <br> -->
        <button mat-raised-button type="submit">Registrarse</button>
        <button mat-raised-button routerLink="/principal/hola-inicia-sesion">Volver a Iniciar Sesion</button>
        <button mat-raised-button routerLink="/principal/home">Volver a la página principal</button>

    </form>
</div>