<!-- VISIÓN-->
<div class="value-section" bis_skin_checked="1">
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row align-items-lg-end" bis_skin_checked="1">
            <div class="col-lg-6" bis_skin_checked="1">
                <div class="descr" bis_skin_checked="1">
                    <h2>Nuestra Visión</h2>
                    <p>Nuestra visión es transformar positivamente la salud y el bienestar global a través de la innovación y la colaboración en la investigación clínica y el desarrollo de medicamentos.</p>
                    <p>Buscamos convertirnos en líderes reconocidos mundialmente en el avance de terapias accesibles y efectivas para mejorar la calidad de vida de pacientes en todo el mundo.</p>
                </div>
            </div>
            <div class="col-lg-6 mt-auto mt-lg-0" bis_skin_checked="1">
                <figure class="img">
                    <img src="./assets/Images/Sobre-Nosotros/img_donatio-food2.avif" alt="Ilustración de Visión">
                </figure>
            </div>
        </div>
    </div>
</div>