<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h2>HUNGERFOOD</h2>
        </div>
        <div class="footer-section">
            <h3>Compañía</h3>
            <ul>
                <li><a [routerLink]="'/home'">Inicio</a></li>
                <li><a [routerLink]="'/principal/sobre-nosotros'">Sobre Nosotros</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Donar</h3>
            <ul>
                <li><a [routerLink]="'/principal/donar'">Donar alimentos</a></li>
                <li><a [routerLink]="'/principal/donar'">Donar económico</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Enlaces de ayuda</h3>
            <ul>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Libro de reclamaciones</a></li>
                <li><a href="#">Política de cookies</a></li>
                <li><a href="#">Política de privacidad</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Suscríbase a nuestro boletín</h3>
            <form>
                <input type="email" placeholder="Email Address">
                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© Hungerfood 2024</span>
        <div class="social-links">
            <span>Síguenos en:</span>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
