<div class="container">
  <div class="text-content">
      <h1 class="a">Ayuda A</h1>
      <h1 class="a">Quienes Más</h1>
      <h1 class="a">Lo Necesitan</h1>
      <h1 class="b">Donando</h1>
      <h1 class="b">Alimentos</h1>
      <h1 class="b">Con</h1>
      <h1 class="c">Hungerfood</h1>
      <br>
      <p>Juntos, alimentemos la esperanza: <br> Descubre cómo cada donación marca la diferencia.</p>  
  </div>
  <div class="image-content">
    <img src="./assets/Images/Main/img_principal/img_principal.png" mat-icon-button [routerLink]="'/principal/home'" alt="Imagen Principal">
  </div>
</div>


