/* Estilos base para todos los tamaños de pantalla */
h1 {
    font-family: var(--body-font);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    text-align: center;
    /* Alineación central por defecto */
}

p {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    text-align: center;
    /* Alineación central por defecto */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Ajusta según necesidades */
    padding: 20px;
    /* Espaciado interior general */
}

.text-content {
    max-width: 600px;
    /* Ancho máximo del contenido de texto */
    text-align: center;
    /* Alineación central por defecto */
}

.text-content h1 {
    font-size: 3.5rem;
    /* Tamaño de fuente grande para títulos */
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text-content h1.a {
    color: var(--third-color);
    transition-delay: 0.2s;
}

.text-content h1.b {
    color: var(--second-color);
    transition-delay: 0.4s;
}

.text-content h1.c {
    color: var(--primary-color);
    transition-delay: 0.6s;
}

.text-content p {
    font-size: 1.2rem;
    /* Tamaño de fuente para párrafos */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out 0.8s, transform 0.6s ease-out 0.8s;
}

/* Imagen */
.image-content {
    max-width: 100%;
    /* Imagen con ancho máximo */
}

.image-content img {
    width: 100%;
    height: auto;
}

.container.visible .text-content h1,
.container.visible .text-content p {
    opacity: 1;
    transform: translateY(0);
}

/* Media query para tablet y dispositivos grandes */
@media (max-width: 1024px) {
    .text-content h1 {
        font-size: 2.5rem;
        /* Reducir tamaño de título para tabletas */
    }

    .text-content p {
        font-size: 1rem;
        /* Reducir tamaño de párrafo para tabletas */
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .text-content h1 {
        font-size: 2rem;
        /* Tamaño de fuente más pequeño para móviles */
    }

    .text-content p {
        font-size: 0.9rem;
        /* Tamaño de fuente más pequeño para móviles */
    }
}