<!-- FUNDADORES -->

<section id="fundadores" class="value-section">
    <div class="container-img">
        <div class="row">
            <div class="col-lg-12">
                <div class="descr text-center">
                    <h2>Nuestros Fundadores</h2>
                    <p>Conoce a las mentes visionarias detrás de nuestra organización.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="founder">
                    <img src="./assets/Images/Fundadores/Alexander/Alexander.jpg" alt="Alexander Josue Suclupe Paucar">
                    <h3>ALEXANDER JOSUE SUCLUPE PAUCAR</h3>
                    <p>Ingenieria de Sistema de Informacion</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="founder">
                    <img src="./assets/Images/Fundadores/Diego/Diego.png" alt="Renzo D'Angelo Laguna Belleza">
                    <h3>DIEGO SOLANO TANTA</h3>
                    <p>Ingenieria de Sistema de Informacion</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="founder">
                    <img src="./assets/Images/Fundadores/Maria/Maria.jpg" alt="Maria Belen Cruzado Montenegro">
                    <h3>MARIA BELEN CRUZADO MONTENEGRO</h3>
                    <p>Ingenieria de Sistema de Informacion</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="founder">
                    <img src="./assets/Images/Fundadores/Jorge/Jorge.jpg" alt="Jorge Alexander Espino Aguirre">
                    <h3>JORGE ALEXANDER ESPINO AGUIRRE</h3>
                    <p>Ingenieria de Sistema de Informacion</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="founder">
                    <img src="./assets/Images/Fundadores/Renzo/Renzo.png" alt="Renzo D'Angelo Laguna Belleza">
                    <h3>RENZO D'ANGELO LAGUNA BELLEZA</h3>
                    <p>Ingenieria de Sistema de Informacion</p>
                </div>
            </div>
        </div>
    </div>
</section>
