<div class="perfil-datos">
    <h2>Datos del Perfil</h2>
    <div class="datos">
        <p><strong>Nombre:</strong> {{user.firstname}}</p>
        <p><strong>Apellidos:</strong> {{user.lastname}}</p>
        <p><strong>Correo Electrónico:</strong> {{user.email}}</p>
    </div>
    <!-- <button mat-raised-button routerLink="/principal/hola-inicia-sesion" id="registrate">Cerrar Sesión</button> -->
    <button mat-raised-button routerLink="/donante/perfil" id="perfil">Regresar a panel de usuario</button>
</div>