<!-- DONACION DE ALIMENTOS -->
<div class="value-section" bis_skin_checked="1">
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row align-items-lg-end" bis_skin_checked="1">
            <div class="col-lg-6" bis_skin_checked="1">
                <div class="descr" bis_skin_checked="1">
                    <h2>Donaciones de Alimentos</h2>
                    <p>Nos dedicamos a promover el acceso a numerosas innovaciones tecnológicas, elevando la calidad, el rigor y la fiabilidad de la investigación clínica basada en el método científico.</p>
                    <p>Nuestro compromiso es ser instrumentales en acelerar el desarrollo de medicamentos, apoyando a empresas farmacéuticas y biotecnológicas para llevar terapias a los pacientes de manera rápida y eficiente.</p>
                    <button mat-raised-button [routerLink]="'/user/donaciones-economicas'">Donaciones económicas</button>

                </div>
            </div>
            <div class="col-lg-6 mt-auto mt-lg-0" bis_skin_checked="1">
                <figure class="img">
                    <img src="./assets/Images/Sobre-Nosotros/img_donation-food-v3-v1.svg" alt="Nombre del Miembro del EquIlustracion de mision">
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- DONACION ECONOMICO -->
<div class="value-section" bis_skin_checked="1">
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row align-items-lg-end" bis_skin_checked="1">
            <div class="col-lg-6" bis_skin_checked="1">
                <div class="descr" bis_skin_checked="1">
                    <h2>Donaciones Economicas</h2>
                    <p>Nos dedicamos a promover el acceso a numerosas innovaciones tecnológicas, elevando la calidad, el rigor y la fiabilidad de la investigación clínica basada en el método científico.</p>
                    <p>Nuestro compromiso es ser instrumentales en acelerar el desarrollo de medicamentos, apoyando a empresas farmacéuticas y biotecnológicas para llevar terapias a los pacientes de manera rápida y eficiente.</p>
                    <button mat-raised-button [routerLink]="'/user/donaciones-economicas'">Donaciones económicas</button>
        
                </div>
            </div>
            <div class="col-lg-6 mt-auto mt-lg-0" bis_skin_checked="1">
                <figure class="img">
                    <img src="./assets/Images/Sobre-Nosotros/img_donation-food-v3-v1.svg" alt="Nombre del Miembro del EquIlustracion de mision">
                </figure>
            </div>
        </div>
    </div>
</div>
