<!-- MISION -->
<div class="value-section" [class.visible]="isVisible">
    <div class="container-fluid">
        <div class="row align-items-lg-end">
            <div class="col-lg-6">
                <div class="descr">
                    <h2>Nuestra Misión</h2>
                    <p>Nos dedicamos a promover el acceso a numerosas innovaciones tecnológicas, elevando la calidad, el rigor y la fiabilidad de la investigación clínica basada en el método científico.</p>
                    <p>Nuestro compromiso es ser instrumentales en acelerar el desarrollo de medicamentos, apoyando a empresas farmacéuticas y biotecnológicas para llevar terapias a los pacientes de manera rápida y eficiente.</p>
                </div>
            </div>
            <div class="col-lg-6 mt-auto mt-lg-0">
                <figure class="img">
                    <img src="./assets/Images/Sobre-Nosotros/img_donation-food-v3-v1.svg" alt="Ilustración de misión">
                </figure>
            </div>
        </div>
    </div>
</div>
