<div class="container-login">
    <form class="login-form" style="max-width: 25rem;" #form="ngForm" (ngSubmit)="login(form.value)">
        <h1 class="title">Iniciar Sesión</h1>
        
        <div class="email">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="creds.email" required
                #email="ngModel" pattern=".+@gmail\.com$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                Por favor ingrese un correo válido
            </div>
            <div *ngIf="email.errors?.['pattern']" class="invalid-feedback">
                El correo electrónico debe terminar con &#64;gmail.com
            </div>
        </div>

        <br>

        <div class="password">
            <label for="password" class="form-label">Contraseña</label>
            <input id="password" name="password" type="password" class="form-control" [(ngModel)]="creds.password" required
                #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                Por favor ingrese una contraseña
            </div>
        </div>

        <br>

        <div class="link">
            <a href="/login" class="link-primary">¿Quieres ingresar como administrador?</a>
        </div>
        <br>
        <div class="btn-IniciarSesion">
            <button type="submit" class="btn1">Iniciar Sesión</button>
        </div>
        <div class="btn-CrearCuenta">
            <button mat-raised-button routerLink="/login1/registrarse" type="button" class="btn2">Crear cuenta</button>
        </div>
    </form>
</div>
